### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### Gradle ###
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
gradlew.jar

### Compiled ###
*.class

### Logs ###
*.log

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db